<footer class="footer">
	<div class="container">
          <nav>
             <ul>
				<li><%= link_to "Contactos", static_pages_contact_path %></li>
				<li><%= link_to "Sobre", static_pages_about_path %></li>
			</ul>
          </nav>
    </div>
</footer>