<% provide(:title, 'About Us') %>
<title>TePeCe | <%= yield(:title) %></title>
<h1>Sobre</h1>
 <p>
    	Site desenvolvido desenvolvido no ambito da módulo de Engenharia Web.
		<p>Grupo 4:<p>
		<li>Pedro Vale - PG19806</li>
		<li>Rui Silva - A54712</li>
		<li>Telma Correia - PG25263</li>
 </p>