<% provide(:title, 'Contactos') %>
<title>TePeCe | <%= yield(:title) %></title>
<h1></h1>
<legend>Contactos</legend>
 <p>
		<li>Pedro Vale - PG19806@alunos.uminho.pt</li>
		<li>Rui Silva - A54712@alunos.uminho.pt</li>
		<li>Telma Correia - PG25263@alunos.uminho.pt</li>
 </p>