<% provide(:title, 'Contact') %>
<title>TePeCe | <%= yield(:title) %></title>
<h1>Contactos</h1>
 <p>
		<li>Pedro Vale - PG19806@alunos.uminho.pt</li>
		<li>Rui Silva - A54712@alunos.uminho.pt</li>
		<li>Telma Correia - PG25263@alunos.uminho.pt</li>
 </p>