<% provide(:title, 'Home') %>

<title>TePeCe | <%= yield(:title) %></title>
<div class="center hero-unit">
  <h1>Bem-vindos ao TePeCe</h1>

  <p>
  <h2>
	Uma plataforma a pensar nos nossos Alunos.
  </h2>
	<p>
  
  <%= link_to "Entrar", signin_path, class: "btn btn-large btn-primary" %>
</div>
