<% @users.each do |user| %>
    <li>
      <b><%= link_to user.email, user %></b>
		<div> 
			<td> |<%= link_to 'Show', user %></td>
			 <% if current_user && current_user.admin? %>
				<td> |<%= link_to 'Edit', edit_user_path(user) %></td>
				<td> |<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>
		</div>		
	</li>
  <% end %>